<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Typing Challenge</h1>
      <p class="has-text-centered">
        <span
          [class]="checkLetter(enteredText[i], letter)"
          *ngFor="let letter of randomText.split(''); let i = index"
          >{{ letter }}</span
        >
      </p>
      <div class="field">
        <input
          type="text"
          class="input"
          (input)="onChangeText($event.target.value)"
        />
      </div>
      <div class="box has-text-centered" *ngIf="randomText === enteredText">
        <h2 class="title">You Win!</h2>
      </div>
    </div>
  </div>
</div>
